
<app-header></app-header>
<h2>{{title}}</h2>
<h1>
  My name is : {{name}}
</h1>
<!-- <p>
    {{cars[1]}}
</p>

<h2>{{student.name}}</h2>
<h2>{{student.age}}</h2>
<h2>{{student.greet()}}</h2> -->

<!-- <app-frontend></app-frontend>
<app-backend></app-backend> -->

<!-- Data-binding 
  one-way binding (interpolation) ===> {{}}
  property binding
  event binding
  two-way binding


-->

<button disabled value="{{studentStatus}}">Stud</button>
<button [disabled]="studentStatus">Student detail</button>
<!-- <img [src]="imageUrl" alt=""> -->

<br><br>
<h2 [style.color]="color">Hi HEllO THIS IS ANGULAR</h2>
<!-- <button (click)="onClickedOnData()">Click</button> -->
<!-- username <input type="text" [(ngModel)]="userName"/> -->
<!-- <p>{{userName}}</p> -->

<!-- <button (click)="clickP()">+</button>
<input type="text" value="{{clickCount}}">
<button (click)="clickM()">-</button>

<p>{{studentData}}</p> -->

<!-- <div class="container bg-danger">
  <h1>Directive</h1>
  <ul>
    <li>Component Directive</li>
    <li>Structural Directive -- *
          <ul>
            <li>for *ngFor</li>
            <li>if *ngIf</li>
            <li>Switch</li>
          </ul>
    </li>  
    <li>Attribute Directive</li>

  </ul>
</div> -->

<div class="container">

  <!-- <div *ngFor="let stud of studentData; let n = index;"> 
    <p> {{n + 1 }} - {{ stud}}</p>
  </div> -->

</div>

<div *ngIf="isDataAvaliable;then vab ;else dur">
  <h1>Movies</h1>
</div>

<ng-template class="container" #vab>
    <table class="table table-bordered table-dark table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th>sr.no</th>
          <th>title</th>
          <th>director</th>
          <th>cast</th>
          <th>release date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mov of movies; let i= index">

          <td>{{i+1}}</td>
          <td>{{mov.title}}</td>
          <td>{{mov.director}}</td>
          <td>{{mov.cast}}</td>
          <td>{{mov.releaseDate}}</td>

        </tr>
      </tbody>
    </table>
</ng-template>

<ng-template #dur>
    <h1>Please Buy Ticket</h1>
</ng-template>

<!-- switch(){  --- [ngSwitch]
  case 1:  --- *ngSwitchCase
  case 2:  --- *ngSwitchCase

  default  --- *ngSwitchDefault
} -->

Enter Input <input type="text" [(ngModel)]="num" />

<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">One</div>
  <div *ngSwitchCase="'2'">Two</div>
  <div *ngSwitchCase="'3'">Three</div>
  <div *ngSwitchCase="'4'">Four</div>
  <div *ngSwitchCase="'5'">Five</div>
  <div *ngSwitchDefault>This is Default</div>
</div>

<p [ngClass]="'red size20'">This is Class Directive</p>

<p [ngStyle]="{'font-size':'2rem'}">This is Style Class</p>

<div [ngStyle]="{'background-color':status === 'error' ? 'red' : 'blue' }"> THis is Multiple Style </div>


<p > {{today | date:'shortDate'}}</p>

<p>{{msg | lowercase | slice:11:14}}</p>

<p>{{num1 | currency }}</p>
<div class="container">
  
 
    <button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Login
    </button>

</div><br>


<router-outlet></router-outlet>
<app-footer></app-footer>

<app-framework></app-framework>